* {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
    margin: auto;
    text-align: center;
}

.container {
    margin-top: 50px;
}

.board {
    margin: auto;
    margin-top: 20px;
    width: 360px;
    height: 360px;
    border: 1px solid black;
}

.row {
    height: 120px;
    display: flex;
}

.border-b {
    border-bottom: 1px solid black;
}

.col {
    height: 120px;
    width: 120px;
    line-height: 100px;
}

.border-r {
    border-right: 1px solid black;
}

.col:hover {
    background-color: cornsilk;
}